<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>jwang ui frame</title>
  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box
    }

    :root {
      --button-height: 32px;
      --font-size: 10px;
      --button-bg: white;
      --button-active-bg: #eee;
      --border-radius: 4px;
      --color: #333;
      --border-color: #999;
      --border-color-hover: #666;
    }

    .buttondemo .buttons {
      display: flex;
      align-items: center;
    }
  </style>
</head>

<body>
  <div id="app" style="padding:20px;">
    <div class="collapsedemo">
      <j-collapse>
        <template slot='title'> 一致性 Consistency </template>
        <template slot='body'> 
          <div>与现实生活一致：与现实生活的流程、逻辑保持一致，遵循用户习惯的语言和概念；</div>
          <div>在界面中一致：所有的元素和结构需保持一致，比如：设计样式、图标和文本、元素的位置等。</div>
        </template>
      </j-collapse>
      <j-collapse>
          <template slot='title'>反馈 Feedback </template>
          <template slot='body'> 
              <div>控制反馈：通过界面样式和交互动效让用户可以清晰的感知自己的操作；</div>
              <div>页面反馈：操作后，通过页面元素的变化清晰地展现当前状态。</div>
          </template>
        </j-collapse>
        <j-collapse>
            <template slot='title'>效率 Efficiency </template>
            <template slot='body'> 
                <div>简化流程：设计简洁直观的操作流程；</div>
                <div>清晰明确：语言表达清晰且表意明确，让用户快速理解进而作出决策；</div>
                <div>帮助用户识别：界面简单直白，让用户快速识别而非回忆，减少用户记忆负担。</div>
            </template>
          </j-collapse>
          <j-collapse>
              <template slot='title'>可控 Controllability </template>
              <template slot='body'> 
                  <div>用户决策：根据场景可给予用户操作建议或安全提示，但不能代替用户进行决策；</div>
                  <div>结果可控：用户可以自由的进行操作，包括撤销、回退和终止当前操作等。</div>
              </template>
            </j-collapse>
    </div>

    <!-- <div class="popoverdemo" style="display:inline-flex">
      <j-popover position='left'>
        <template slot = "content">
          <div>Left Tooltip</div>
        </template>
        <template>
          <j-button>click</j-button>  
        </template>    
      </j-popover>
      <j-popover>
        <template slot = "content">
          <div>Top Tooltip</div>
        </template>
        <template>
          <j-button>click</j-button>  
        </template>    
      </j-popover>
      
      <j-popover position='bottom'>
        <template slot = "content">
          <div>Bottom Tooltip</div>
        </template>
        <template>
          <j-button>click</j-button>  
        </template>    
      </j-popover>
      <j-popover position='right'>
        <template slot = "content">
          <div>Right Tooltip</div>
        </template>
        <template>
          <j-button>click</j-button>  
        </template>    
      </j-popover>
    </div> -->

    <!-- <div class="toastdemo">
      <j-button @click='showToast("middle")'>click mid</j-button>
      <j-button @click='showToast("top")'>click top</j-button>
      <j-button @click='showToast("bottom")'>click bot</j-button>
    </div> -->
    <!-- <div class="tabsdemo">
        <j-tab currenttab='finace' direction='vertical'>
            <j-tabnav >
              <j-tabitem name=finace title="财经">Tab1</j-tabitem>
              <j-tabitem name=sport title="体育">Tab2</j-tabitem>
              <j-tabitem name=education title="教育">Tab3</j-tabitem>
            </j-tabnav>
            <j-tabbody>
              <j-tabpannel name=finace> 财经内容</j-tabpannel>
              <j-tabpannel name=sport> 体育内容</j-tabpannel>
              <j-tabpannel name=education> 教育内容</j-tabpannel>
            </j-tabbody>
          </j-tab>
      <j-tab currenttab='education'>
        <j-tabnav >
          <j-tabitem name=finace title="财经">Tab1</j-tabitem>
          <j-tabitem name=sport title="体育">Tab2</j-tabitem>
          <j-tabitem name=education title="教育">Tab3</j-tabitem>
        </j-tabnav>
        <j-tabbody>
          <j-tabpannel name=finace> 财经内容</j-tabpannel>
          <j-tabpannel name=sport> 体育内容</j-tabpannel>
          <j-tabpannel name=education> 教育内容</j-tabpannel>
        </j-tabbody>
      </j-tab>
      
    </div> -->

    <!-- <div id="app" style="padding:10px;">
    <div class="buttondemo" style="margin: 10px 0">
      <div class="buttons" style="margin: 10px 0">
        <j-button> Normal </j-button>
        <j-button :loadingfunc=true> Load button </j-button>
        <j-button :disabled=true> Disabled </j-button>
  </div>

    <j-buttongroup>
      <j-button> Previous </j-button>
      <j-button> Next </j-button>
    </j-buttongroup>
  </div> -->






    <!-- <div class="tabsdemo">
            <j-tab>
                <j-tabnav >
                    <j-tabitem 
                    v-for="tab in tabs"
                    v-bind:key="tab"
                    v-bind:class="[{ active: currentTab === tab }]"
                    v-on:click="currentTab = tab"
                    :currenttab='tab'>
                    {{ tab }}
                    </j-tabitem>
                </j-tabnav>
                <component
                v-bind:is="currentTabComponent"
                class="tab"
                style="padding:10px"
              ></component>
            </j-tab>  -->

    <!-- <div class="input">
            <j-input v-model="message"></j-input>
            <p style="font-size:0.8em">message is {{message}}</p>
            <j-input value="Required field" :error='showErro()'></j-input>
            <j-input value="Disabled" :disabled=true></j-input>
            <j-input value="readonly" :readonly=true></j-input>
        </div>
        <div class="buttondemo" style="margin: 10px 0">
            <div class="buttons" style="margin: 10px 0">
                <j-button> Normal </j-button>
                <j-button> Normal </j-button>
                <j-button :loadingfunc=true> Normal </j-button>
                <j-button :disabled=true> Disabled </j-button>
            </div>

            <j-buttongroup>
                <j-button> Normal </j-button>
                <j-button> Normal </j-button>
            </j-buttongroup>
        </div> -->

  </div>
  <script src="./src/app.js"></script>
</body>

</html>