<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>jwang ui frame</title>
  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box
    }

    :root {
      --button-height: 32px;
      --font-size: 10px;
      --button-bg: white;
      --button-active-bg: #eee;
      --border-radius: 4px;
      --color: #333;
      --border-color: #999;
      --border-color-hover: #666;
    }
    .carousel h3{
      color:#fff;
    }
 .demoCol{
  border: 1px solid #ccc;
    background: #eee;
    height: 50px;
 }
  </style>
</head>

<body>
  <div id="app" style="padding:20px;">
      <div id="QfEqtDbeK9" class="sku-layout sku-box-shadow popup" 
      style="display:block; overflow: hidden; position: fixed; z-index: 1000; background: white; bottom: 0px; left: 0px; right: 0px; visibility: visible;"
      >
      </div>
    <div class="swtich">
      <j-switch></j-switch>
    </div>





    <div class="carousel">
      <j-carousel :selectdot = 1>
        <template slot='content'>
          <j-carouselitem :dataid=1>
            <h3>1</h3>
          </j-carouselitem>
          <j-carouselitem :dataid=2>
            <h3>2</h3>
          </j-carouselitem>
          <j-carouselitem :dataid=3>
            <h3>3</h3>
          </j-carouselitem>
          <j-carouselitem :dataid=4>
            <h3>4</h3>
          </j-carouselitem>
        </template>
        
        <template slot="ctr">
          <j-carouselcontroL :dataid=1></j-carouselcontroL>
          <j-carouselcontroL :dataid=2></j-carouselcontroL>
          <j-carouselcontroL :dataid=3></j-carouselcontroL>
          <j-carouselcontroL :dataid=4></j-carouselcontroL>
        </template>
      </j-carousel>
    </div>
 <div class="toastdemo">
      <j-button @click='showToast("middle")'>click mid</j-button>
      <j-button @click='showToast("top")'>click top</j-button>
      <j-button @click='showToast("bottom")'>click bot</j-button>
    </div>


    <div class="grid">
      <j-row>
      <j-col span="8">
        <div class="demoCol">8</div>
      </j-col>
      <j-col span="8">
        <div class="demoCol">8</div>
      </j-col>
      <j-col span="8">
        <div class="demoCol">8</div>
      </j-col>
    </j-row>
    <j-row>
        <j-col span="6">
          <div class="demoCol">8</div>
        </j-col>
        <j-col span="6">
          <div class="demoCol">8</div>
        </j-col>
        <j-col span="6">
          <div class="demoCol">8</div>
        </j-col>
        <j-col span="6">
            <div class="demoCol">8</div>
          </j-col>
      </j-row>
      <j-row>
          <j-col span="2">
            <div class="demoCol">8</div>
          </j-col>
          <j-col span="4">
            <div class="demoCol">8</div>
          </j-col>
          <j-col span="6">
            <div class="demoCol">8</div>
          </j-col>
          <j-col span="12">
              <div class="demoCol">8</div>
            </j-col>
        </j-row>
        <j-row gutter='10'>
            <j-col span="6">
              <div class="demoCol">8</div>
            </j-col>
            <j-col span="6">
              <div class="demoCol">8</div>
            </j-col>
            <j-col span="6">
              <div class="demoCol">8</div>
            </j-col>
            <j-col span="6">
                <div class="demoCol">8</div>
              </j-col>
          </j-row>
      </div>
    <!-- <div class="popoverdemo" style="display:inline-flex">
      <j-popover position='left'>
        <template slot = "content">
          <div>Left Tooltip</div>
        </template>
        <template>
          <j-button>click</j-button>  
        </template>    
      </j-popover>
      <j-popover>
        <template slot = "content">
          <div>Top Tooltip</div>
        </template>
        <template>
          <j-button>click</j-button>  
        </template>    
      </j-popover>
      
      <j-popover position='bottom'>
        <template slot = "content">
          <div>Bottom Tooltip</div>
        </template>
        <template>
          <j-button>click</j-button>  
        </template>    
      </j-popover>
      <j-popover position='right'>
        <template slot = "content">
          <div>Right Tooltip</div>
        </template>
        <template>
          <j-button>click</j-button>  
        </template>    
      </j-popover>
    </div> -->

    <!-- <div class="toastdemo">
      <j-button @click='showToast("middle")'>click mid</j-button>
      <j-button @click='showToast("top")'>click top</j-button>
      <j-button @click='showToast("bottom")'>click bot</j-button>
    </div> -->
    <div class="tabsdemo">
        <j-tab currenttab='finace' direction='vertical'>
            <j-tabnav >
              <j-tabitem name=finace title="财经">Tab1</j-tabitem>
              <j-tabitem name=sport title="体育">Tab2</j-tabitem>
              <j-tabitem name=education title="教育">Tab3</j-tabitem>
            </j-tabnav>
            <j-tabbody>
              <j-tabpannel name=finace> 财经内容</j-tabpannel>
              <j-tabpannel name=sport> 体育内容</j-tabpannel>
              <j-tabpannel name=education> 教育内容</j-tabpannel>
            </j-tabbody>
          </j-tab>
      <j-tab currenttab='education'>
        <j-tabnav >
          <j-tabitem name=finace title="财经">Tab1</j-tabitem>
          <j-tabitem name=sport title="体育">Tab2</j-tabitem>
          <j-tabitem name=education title="教育">Tab3</j-tabitem>
        </j-tabnav>
        <j-tabbody>
          <j-tabpannel name=finace> 财经内容</j-tabpannel>
          <j-tabpannel name=sport> 体育内容</j-tabpannel>
          <j-tabpannel name=education> 教育内容</j-tabpannel>
        </j-tabbody>
      </j-tab>
      
    </div>

    <!-- <div id="app" style="padding:10px;">
    <div class="buttondemo" style="margin: 10px 0">
      <div class="buttons" style="margin: 10px 0">
        <j-button> Normal </j-button>
        <j-button :loadingfunc=true> Load button </j-button>
        <j-button :disabled=true> Disabled </j-button>
  </div>

    <j-buttongroup>
      <j-button> Previous </j-button>
      <j-button> Next </j-button>
    </j-buttongroup>
  </div> -->






    <!-- <div class="tabsdemo">
            <j-tab>
                <j-tabnav >
                    <j-tabitem 
                    v-for="tab in tabs"
                    v-bind:key="tab"
                    v-bind:class="[{ active: currentTab === tab }]"
                    v-on:click="currentTab = tab"
                    :currenttab='tab'>
                    {{ tab }}
                    </j-tabitem>
                </j-tabnav>
                <component
                v-bind:is="currentTabComponent"
                class="tab"
                style="padding:10px"
              ></component>
            </j-tab>  -->

    <!-- <div class="input">
            <j-input v-model="message"></j-input>
            <p style="font-size:0.8em">message is {{message}}</p>
            <j-input value="Required field" :error='showErro()'></j-input>
            <j-input value="Disabled" :disabled=true></j-input>
            <j-input value="readonly" :readonly=true></j-input>
        </div>
        <div class="buttondemo" style="margin: 10px 0">
            <div class="buttons" style="margin: 10px 0">
                <j-button> Normal </j-button>
                <j-button> Normal </j-button>
                <j-button :loadingfunc=true> Normal </j-button>
                <j-button :disabled=true> Disabled </j-button>
            </div>

            <j-buttongroup>
                <j-button> Normal </j-button>
                <j-button> Normal </j-button>
            </j-buttongroup>
        </div> -->

  </div>
  <script src="./src/app.js"></script>
</body>

</html>